<%# Partial template called from:
  /usr/share/foreman/app/views/compute_resources_vms/index.html.erb
  /usr/share/foreman/app/controllers/compute_resources_vms_controller.rb

  ...to create the content of the VMs tab of the compute resources provider page
  expected to be a table listing the VMs based on the Proxmox plugin %>

<table class="table table-bordered" data-table='inline'>
  <thead>
  <tr>
    <th><%= _('Name') -%></th>
    <th><%= _('ID') -%></th>
    <th><%= _('Type') -%></th>
    <th><%= _('Power') -%></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @vms.each do |vm| -%>
      <tr>
        <td><%= link_to_if_authorized vm.name, hash_for_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => vm.unique_cluster_identity(@compute_resource)) %></td>
        <td><%= vm.node_id %></td>
        <td>IPMI-SOL</td>
        <td> <span <%= vm_power_class(vm.ready?) %>> <%= vm_state(vm) %></span> </td>
        <td>
        <%= action_buttons(
                vm_power_action(vm, authorizer),
                vm_associate_link(vm),
                display_delete_if_authorized(hash_for_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => vm.unique_cluster_identity(@compute_resource)).merge(:auth_object => @compute_resource, :authorizer => authorizer))) %>
        </td>
      </tr>
  <% end -%>
  </tbody>
</table>
